* { 
	margin:0;
	padding:0; 
	-webkit-print-color-adjust: exact;
}
html {
	font-size:200px;
}
body {
	font-family:arial;
	font-size:14px;
	font-weight:normal;	
	background:#DDD;
}
h2{
	font-size: 20px;
	height: 20px;
	margin-bottom: 20px;
}
p{
	color:#333;
	line-height:150%;
	margin-bottom:15px;
}
#wrapper{
	margin:0 auto;
	max-width:800px;
}

section{
	background:white;
	padding:15px;
	margin-bottom:20px;
}
.hideme{
	display:none;
}
.status_complete{ text-decoration: line-through; }
.status_pendingreview:before{ content:"*"; }
.status_inprogress:before{ content:"+"; }

.btn{
	color:black;
	cursor:pointer;
	border:none;
	border-radius:5px;
	box-shadow: 0 1px 2px black;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 20px;
	text-decoration:none;
	text-shadow:0 1px 0 RGBA(0,0,0,.3);
	font-weight:bold;
	font-size:12px;
	
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}
.btn-primary{
	color:white;
	background: #b7deed; /* Old browsers */
	background: -webkit-linear-gradient(top bottom, #AAF 0%,#55D 10%, #66E 100%);
}
.btn-secondary{
	color:white;
	background: #5C5;
	background: -webkit-linear-gradient(top bottom, #DFD 0%, #5C5 10%,#7D7 100%);
}
.btn-warning{
	color:white;
	background: #A00;
	background: -webkit-linear-gradient(top bottom, #D88 0%, #900 10%,#A00 100%);
}

.task-type-0{ border-left-color: blue !important; } /* project */
.task-type-1{ border-left-color: green !important; } /* epic */
.task-type-2{ border-left-color: orange !important; } /* feature */
.task-type-3{ border-left-color: yellow !important; } /* task */
.task-type-4{ border-left-color: red !important; } /* bug */
.task-type-5{ border-left-color: #DDD !important; } /* comment */

.bg-blue{ background:blue !important }
.bg-green{ background:green !important }
.bg-orange{ background:orange !important }
.bg-yellow{ background:yellow !important }
.bg-red{ background:red !important }

.field{
	width:100%;
	margin-bottom:10px;
}
.field input, .field textarea{
	border:none;
	border-radius: 3px;
	box-shadow: 0 0 2px black inset;
	height:30px;
	width:100%;
}
.field textarea{
	height:90px;
}

header {
	background:#EEE;
	height:160px;
	margin-bottom:20px;
	position:relative;
}

header #userPanel{
	background:white;
	height:100px;
	min-width:190px;
	padding:15px;
	position:absolute;
	right:15px;
	top:15px;
}

header .logo{
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:160px;
}
header .logo .block{
	height:32px;
	width:100%;
	background:red;
}

ul.roots {
	height:20px;
	margin-bottom:20px;
}
ul.roots li {
	background:#8DF;
	border-radius: 3px;
	box-shadow: 0 0 2px black inset;
	float:left;
	height:20px;
	line-height:20px;
	list-style:none;
	margin-right:10px;
	padding:0 10px;
	cursor:pointer;
}
ul.roots li:hover {
	background:#9EF;
}

.subtask{
	background:white;
	border-left:red 5px solid;
	border-radius: 3px;
	box-shadow: 0 0 2px black inset;
	padding:15px;
	width:calc(100%-30px);
	list-style:none;
	margin-bottom:10px;
	cursor:pointer;
}
.subtask:hover{
	background:#8DF;
}

#task-details{
	border-left:10px solid red;
	border-radius: 5px 0 0 5px;
}

#reports>ul>li {
	list-style:none;
}
#reports>ul>li li {
	margin-left:20px;
}
#reports>ul>li p {
	margin-bottom:0px;
}
