<!doctype html>
<html>
<head>
	<title>Work To Do | {% block page_title %}{% endblock %}</title>
	<meta name="description" content="Cards">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<script src="js/jquery.js"></script>
	<script src="js/scripts.js"></script>
</head>
<body>
<div id="wrapper">

<header>
	<div class="logo">
		<div class="block bg-blue"></div>
		<div class="block bg-green"></div>
		<div class="block bg-orange"></div>
		<div class="block bg-yellow"></div>
		<div class="block bg-red"></div>
	</div>
	
	<div id="userPanel">
		<div class="login">
			<div class="field">
				<input type="text" name="name" placeholder="Username" />
			</div>
			<div class="field">
				<input type="password" name="password" placeholder="Password" />
			</div>
			<input type="button" class="btn btn-primary" id="userPanel_login_submit" value="Login" />
		</div>
		
		<div class="panel hideme">
			<h3>Welcome, <span class="userNameGoesHere"></span></h3>
		</div>
	</div>
</header>

{% block content %}{% endblock %}

</div>
</body>
</html>