{% extends "base.html" %}

{% block content %}
<div id="current-task" class="hideme">

<section id="task-details">
	<ul class="roots"></ul>
	<div class="display">
		<h2 id="task-details-title">Title</h2>
		<p>Remaining time: <span id="task-details-remaining"></span></p>
		<p>Estimated time: <span id="task-details-time"></span></p>
		<p>Status: 
			<select id="task-details-status-select">
				<option value="todo">To do</option>
				<option value="inprogress">In progress</option>
				<option value="pendingreview">Pending review</option>
				<option value="complete">Complete</option>
			</select>
		</p>
		<p id="task-details-description">details</p>
		<a href="#" class="btn btn-secondary" id="task-details-edit">Edit</a>
		<a href="#" class="btn btn-warning" id="task-details-delete">Delete</a>
	</div>
	<div class="edit hideme">
		<div class="field">
			<input type="text" name="title" placeholder="Title" />
		</div>
		<div class="field">
			<input type="text" name="time" placeholder="Time" />
		</div>
		<div class="field">
			<select name="type">
				<option value="0">Project</option>
				<option value="1">Epic</option>
				<option value="2">Feature</option>
				<option value="3">Task</option>
				<option value="4">Bug</option>
				<option value="5">Comment</option>
			</select>
		</div>
		<div class="field">
			<textarea name="description" placeholder="Description"></textarea>
		</div>
		<input type="hidden" name="id" />
		<a href="#" class="btn btn-primary" id="task-details-edit-save">Save</a>
	</div>
</section>

<section id="sub-tasks">
	<h2>Sub Tasks</h2>
	<ul></ul>
</section>

<section id="task-create">
	<h2>Create Task</h2>
	
	<div class="field">
		<input type="text" placeholder="Title" name="title" />
	</div>
	<div class="field">
		<input type="text" placeholder="Time" name="time" />
	</div>
	<div class="field">
		<select name="type">
			<option value="0">Project</option>
			<option value="1">Epic</option>
			<option value="2">Feature</option>
			<option value="3">Task</option>
			<option value="4">Bug</option>
			<option value="5">Comment</option>
		</select>
	</div>
	<div class="field">
		<textarea placeholder="Description" name="description"></textarea>
	</div>
	<input type="hidden" name="parent" value="-1" />
	<a href="#" class="btn btn-primary" id="task-create-submit">Create</a>
</section>

</div>

<div id="admin-tools" class="hideme">
<section id="user-create">
	<h2>Create user</h2>
	
	<div class="field">
		<input type="text" placeholder="Username" name="name" />
	</div>
	<div class="field">
		<input type="password" placeholder="Password" name="password" />
	</div>
	<a href="#" class="btn btn-primary" id="user-create-submit">Create</a>
</section>
</div>
{% endblock %}