{% extends "base.html" %}

{% block content %}
<section id="sub-tasks">
	<h2>Report</h2>
	<div class="field">
		 <input type="date" name="from">
	</div>
	<a href="#" id="fetch-report" class="btn btn-primary">Fetch Report</a>
</section>

<section id="reports">
	<ul></ul>
</section>

{% endblock %}